@import '../../../assets/scss/global.scss';

.product-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 160px;
    @include tablet{
        padding: 100px 50px;
    }
    @include mobile{
        height: auto;
        display: block;
        text-align: center;
    }
    .content{
        flex:2;
        // margin: 15% auto;
        h2{
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        p{
            width: 70%;
            color: #5d5d5d;
            @include mobile{
                width: 100%;
                line-height: normal;
                margin-bottom: 100px;
            }
        }
    }
    img{
        flex: 1;
        @include mobile{
            // display: none;
            width: 100%;
        }
    }
}