@import '../../assets/scss/global.scss';


.footer{
    width: 100vw;
    padding: 10%;  
    background-color: black;
    // display: flex;
    // justify-content: space-between;
    height: 85vh;
    position: relative;
    @include mobile{
        padding: 20px;
        height: 100vh;
    }
    .inline{
        display: inline-block;
        vertical-align: top;
    }
    h2{
        flex-grow: 1;
        display: block;
        font-size: 30px;
        color: white;
        margin-bottom: 60px;
        margin-top: 20px;
        width: 100%;
        @include mobile{
            font-size: 16px;
        }
    }
    .left{
        // flex:1;
        display: inline-block;
        width: 80%;
        position: relative;
        height: 100%;
        @include mobile{
            width: 65%;
            height: 84%;
        }
        @include tablet{
            width: 70%;
            font-size: 18px;
            height: 100%;
        }
        p{
            color:#959595;
            margin:10px 5px;
            font-family: Lato;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            // text-align: left;
            color: #959595;
            @include tablet{
                font-size: 18px;
            }
            
            @include mobile{
                font-size: 15px;
            }
        }
        .company-detail{
            position: absolute;
            bottom: 0px;
            img{
                display: none;
                @include mobile{
                    display: block;
                }
            }
            @include mobile{
                position: absolute;
                bottom: 10px;
                width: 100%;
                background-color: black;
            }
        }
    }
    .right{
        // flex:1;
        height: 100%;
        position: relative;
        width: 20%;
        vertical-align: top;
        display: inline-block;
        text-transform: uppercase;
        text-align: left;
        color: white;
        font-size: 20px;
        @include tablet{
            width: 30%;
            font-size: 18px;
        }
        
        @include mobile{
            display: none;
            width: 35%;
            font-size: 13px;
        }
        .menu-left{
            display: inline-block;
            // width: 49%;
            margin-right: 50px;
        }
        .menu-right{
            // width: 49%;
            vertical-align: top;
            display: inline-block;
            p{
                color: #dfdfdf;
                margin: 10px;
            }
        }
        p{
            margin: 20px;
        }
        a{
            @include mobile{
                margin-bottom: 40px;
            }
            display: block;
            margin-bottom: 20px;
            color: #dfdfdf;
        }
        img{
            position: absolute;
            bottom: 0px;
            @include tablet{

                bottom: 20px;
            }
            @include mobile{

                bottom: 220px;
                right: 100px;
            }
        }
        
    }
    .footer{
        position: absolute;
        text-align: left;
        right: 15%;
        bottom: 5%;
        padding: 0px;
        width: 300px;
        color: #dfdfdf;
        font-size: 15px;
    }
}