@import '../../../assets/scss/global.scss';

.management-container{
    background: #eaeaea;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    .body{
        position: absolute;
        top: 50%;
        width: 100%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        .button-container{
            display: flex;
            width: 35%;
            margin: 0px auto;
            justify-content: space-between;
            .button{
                max-width: unset;
                text-transform: uppercase;
                background: transparent;
                border: 1px solid;
                cursor: pointer;
            }
            .active-button{
                max-width: unset;
                text-transform: uppercase;
                background-color: #e72020;
                border: none;
                color: white;
            }
        }
        .single-div{
            width: 50%;
            margin: 100px auto;
            p{
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.55;
                letter-spacing: normal;
                text-align: center;
                color: #5d5d5d;
                p{
                    display: inline;
                    font-weight: bold;
                    color: #e72020;
                  }
            }
        }
        .double-div{
            width: 80%;
            margin: 100px auto;
            display: flex;
            justify-content: space-between;
            p{
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.55;
                letter-spacing: normal;
                text-align: center;
                color: #5d5d5d;
                width: 45%;
                p{
                    font-weight: bold;
                    color: #e72020;
                    display: inline;
                  }
            }
        }
        .content{
            
        }
    }
   
}