@import '../../../assets/scss/global.scss';

.management-container{
    background: #eaeaea;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    @include mobile{
        height: auto;
    }
    .body{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
        @include mobile{
            position: relative;
            top:0;
            left: 0;
            -ms-transform: none;
            transform: none;
            padding:50px 0px 50px;
        }
        .button-container{
            display: flex;
            width: 50%;
            margin: 0px auto;
            justify-content: space-between;
            @include mobile{
                width: 80%;
                font-size: 13px;
                line-height: normal;
            }
            .button{
                max-width: unset;
                text-transform: uppercase;
                background: transparent;
                border: 1px solid;
                cursor: pointer;
                @include mobile{
                    width: 45%;
                    padding: 20px 0px;
                }
            }
            .active-button{
                max-width: unset;
                text-transform: uppercase;
                background-color: #e72020;
                border: none;
                color: white;
                @include mobile{
                    width: 45%;
                    padding: 20px 0px;
                    // width: 80%;
                }
            }
        }
        .single-div{
            width: 82%;
            margin: 100px auto;
            p{
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.55;
                letter-spacing: normal;
                text-align: center;
                color: #5d5d5d;
                
                p{
                    display: inline;
                    font-weight: bold;
                    color: #e72020;
                  }
            }
        }
        .double-div{
            width: 100%;
            margin: 100px auto;
            display: flex;
            justify-content: space-between;
            @include mobile{
                display: block;
                width: 100%;
            }
            p{
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.55;
                letter-spacing: normal;
                text-align: center;
                color: #5d5d5d;
                width: 45%;
                @include mobile{
                    width: 100%;
                    padding: 50px;
                }
                p{
                    font-weight: bold;
                    color: #e72020;
                    display: inline;
                    
                    @include mobile{
                        width: 100%;
                        padding: 0px;
                        // text-align: left;
                    }
                }
            }
        }
        .content{
            
        }
    }
   
}