@import '../../../assets/scss/global.scss';

.md-speaks-container{
    // display: flex;
    min-height: 100vh;
    width: 100vw;
    // padding: 70px 50px;
    .img{
        flex: 1;
        margin-top: 100px;
        text-align: left;
        display: inline-block;
        /* margin-top: 100px; */
        text-align: left;
        vertical-align: text-bottom;
        background-color: white;
    }
    .content{
        flex: 2;
        text-align: left;
        display: inline-block;
        width: 47%;
        .designation{
            margin: 70px 0px;
            font-size: 20px;
            text-transform: uppercase;
        }
        .message{
            font-size: 20px;
        }
    }
}