@import '../../../assets/scss/global.scss';

.md-speaks-container{
    // display: flex;
    min-height: 100vh;
    width: 100vw;
    // padding: 70px 50px;
    @include tablet{
        padding: 10px 20px;
    }
    .img{
        margin-top: 100px;
        text-align: left;
        display: inline-block;
        /* margin-top: 100px; */
        text-align: left;
        vertical-align: text-bottom;
        background-color: white;
        @include mobile{
            text-align: center;
            width: 100%;
        }
    }
    .content{
        text-align: left;
        display: inline-block;
        width: 47%;
        @include tablet{
            width: 45%;
        }
        @include mobile{
            width: 100%;
            text-align: center;
            padding: 20px 60px;
        }
        .designation{
            margin: 70px 0px;
            text-transform: uppercase;
            @include mobile{
                line-height: normal;
            }
        }
        .message{
            @include mobile{
                line-height: normal;
            }
        }
    }
}