@import '../../../assets/scss/global.scss';

.about-container{
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    @include mobile{
        height: auto;
        display: block;
        text-align: center;
        margin: 100px 0px;
    }
    .left-section{
        flex:1;
        text-align: left;
        padding: 10%;
        h2{
            // width:60%;
            margin: 0px auto 50px;
            
        }
        p{
            // width:50%;
            margin: auto;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.55;
            letter-spacing: normal;
            text-align: left;
            color: #5d5d5d;
            @include mobile{
                text-align: center;
            }
        }
        @include mobile{
            text-align: center;
        }
    }
    
    .top{
        text-align: center;
        width: 70%;
        margin: auto;
    }
    .right{
        flex: 1;
        padding-left: 100px;
        text-align: right;
        width: 50%;
        height: 70%;
        @include tablet{
            height: 50%;
        }
    }
}