@import '../../../assets/scss/global.scss';

.org-container{
    width: 100vw;
    min-height: 100vh;
    text-align: center;margin-bottom: 86px;
    h2{
        margin-top: 50px;
        margin-bottom: 125px;
    }
}