@import '../../assets/scss/global.scss';

.home-page-container{
    p{
        font-size: 20px;
    }
    h2{
        color: #e72020;
        margin: 86px 0px;
    }
    .max-width-container{
        max-width: 1024px;
        margin: 0px auto;
    }
}  