@import '../../../assets/scss/global.scss';

.client-container{
    width: 100vw;
    min-height: 80vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #dfdfdf;
    padding: 200px 20%;
    @include mobile{
        display: block;
        padding: 60px 50px 20px;
    }
    img{
        @include mobile{
            width: 100%;
        }
    }
    .right{
        width: 50%;
        text-align: left;
        padding-top: 5%;
        @include mobile{
            width: 100%;
            text-align: center;
            padding: 20px;
        }
        h2{
            margin-bottom: 50px;
        }
        p{

            @include mobile{
                // width: 100%;
                text-align: center;
                line-height: normal;
            }
        }
    }
}