@import '../../../assets/scss/global.scss';

.content-container{
    width: 100vw;
    padding: 180px 20px;
    .map{
        height: 500px;
        width: 50%;
        @include mobile{
            height: 500px;
            width: 1200px;
        }
    }
    h5{
        @include mobile{
            font-size: 30px;
            line-height: 1.5;
        }
    }
    .address{
        padding-left: 100px;
        box-sizing: border-box;
        @include mobile{
            text-align: left;
            p{
                font-size: 30px;
                line-height: 1.5;
            }
            
        }
        p{

        }
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lower-contact{
        text-align: center;
    }
    .black{
        color: #212121;
        font-weight: normal;
    }
}