@import '../../../assets/scss/global.scss';

.growth-container{
    width: 100vw;
    min-height: 100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    text-align: center;
    padding-bottom: 100px;;
    .banner{
        width:100%;
        @include mobile{
            height: 200px;
        }
    }
    h2{
        margin-bottom: 70px;
    }
    p{
        // width: 70%;
        text-align: center;
        margin:auto;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: center;
        color: #5d5d5d;
        margin-bottom: 50px;
        @include tablet{
            padding: 0px 20px;
        }
        @include mobile{
            padding: 20px;
            text-align: center;
        }
    }
}